<%- include('partials/header2') -%>
  

      <main>

         <!-- page title area start -->
         <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="public/assets/imgpage-title/page-title-2.jpg">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="page__title-wrapper mt-110">
                        <h3 class="page__title">The Contributers</h3>                         
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/">Home</a></li>
                              <li class="breadcrumb-item"><a href="/login">Courses</a></li>
                              <li class="breadcrumb-item"><a href="/news">News</a></li>
                              
                           </ol>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- page title area end -->

         <!-- about area start -->
         <section class="about__area pt-120 pb-150">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6">
                     <div class="about__thumb-wrapper">

                        <div class="about__review">
                           <h5> <span>Tenzin Chosang</span> Web Dev</h5>
                        </div>
                        <div class="about__thumb ml-100">
                           <img src="public/assets/imgabout/about.jpg" alt="">
                        </div>
                        <div class="about__banner mt--210">
                           <img src="public/assets/imgabout/about-banner.jpg" alt="">
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6">
                     <div class="about__content pl-70 pr-60 pt-25">
                        <div class="section__title-wrapper mb-25">
                           <h2 class="section__title">Achieve your <br><span class="yellow-bg-big">Goals <img src="public/assets/imgshape/yellow-bg-2.png" alt=""></span>  with Education </h2>
                           <p>TibNation is an open source education platform dedicated to preserving the Tibetan language and culture. Our goal is to make learning accessible and inclusive for everyone. As a Tibetan refugee, I learned the value of knowledge and embraced a growth mindset. Through TibNation, I am using my programming skills to empower others and promote world peace through education and compassion. Join us in our mission to preserve our heritage and make education accessible to all.</p>   
                        <p><em>-Tenzin Chosang, Founder</em></p>
                        </div>
                        <a href="mailto:tencho.dev@gmail.com" class="e-btn e-btn-border">Send Message</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- about area end -->
<!-- sft area start -->
<section class="why__area pt-125">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-xxl-5 offset-xxl-1 col-xl-5 offset-xl-1 col-lg-6 col-md-8">
            <div class="why__content pr-50 mt-40">
               <div class="section__title-wrapper mb-30">
                  <span class="section__sub-title">TOP News Contributor</span>
                  <h2 class="section__title"><span class="yellow-bg yellow-bg-big">SFT<img src="public/assets/imgshape/yellow-bg.png" alt=""></span></h2>
                  <p>Students for Free Tibet (SFT) is a non-profit organization that works in solidarity with the Tibetan People in their struggle for Freedom and Independence.</p>
               </div>
               <div class="why__btn">
                  <a href="https://studentsforafreetibet.org/get-involved/" target="_blank" class="e-btn e-btn-3 mr-30">Get Involved</a>
                  <a href="https://studentsforafreetibet.org/" target="_blank" class="link-btn">
                     Learn More 
                     <i class="far fa-arrow-right"></i>
                     <i class="far fa-arrow-right"></i>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-8">
            <div class="why__thumb">
               <img src="public/assets/imgabout/sft.png" alt="" id="students">
               <img class="why-green" src="public/assets/imgwhy/why-shape-green.png" alt="">
               <img class="why-pink" src="public/assets/imgwhy/why-shape-pink.png" alt="">
            </div>
         </div>
      </div>
   </div>
</section>
<!-- sft area end -->
<br><br><br><br><br><Br>
   <br><br>
<!-- brand area start -->
<section class="brand__area pb-110">
   <div class="container">
      <div class="row">
         <div class="col-xxl-12">
            <div class="brand__content text-center">
               <div class="brand__title"><h2 class="section__title">United by <span class="yellow-bg yellow-bg-big">Passion<img src="public/assets/imgshape/yellow-bg.png" alt=""></span></h2>
               <h3>Driven by TEAMWORK</h3>
<p>Open Hearts, Open Source: Empowering TibNation's Community-driven Success!</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xxl-12">
            <div class="brand__slider swiper-container">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <div class="brand__item text-center text-lg-start">
                        <img src="public/assets/imgbrand/brand-1.png" alt="">
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="brand__item text-center text-lg-start">
                        <img src="public/assets/imgbrand/brand-2.png" alt="">
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="brand__item text-center text-lg-start">
                        <img src="public/assets/imgbrand/brand-3.png" alt="">
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="brand__item text-center text-lg-start">
                        <img src="public/assets/imgbrand/brand-4.png" alt="">
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="brand__item text-center text-lg-start">
                        <img src="public/assets/imgbrand/brand-5.png" alt="">
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="brand__item text-center text-lg-start">
                        <img src="public/assets/imgbrand/brand-6.png" alt="">
                     </div>
                  </div>
               </div>
               </div>
         </div>
      </div>
     
   </div>
</section>
<br><br><br>
   <!-- brand area end -->
         
      </main>

      <%- include('partials/footer') -%>
