<%- include('partials/header2') -%>
<main>

    <!-- page title area start -->
    <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="assets/img/about/bannerr.jpg">
       <div class="container">
          <div class="row">
             <div class="col-xxl-12">
                <div class="page__title-wrapper mt-110">
                   <h3 class="page__title">Contact</h3>                         
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- page title area end -->

    <!-- contact area start -->
    <section class="contact__area pt-115 pb-120">
       <div class="container">
          <div class="row">
             <div class="col-xxl-7 col-xl-7 col-lg-6">
                <div class="contact__wrapper">
                   <div class="section__title-wrapper mb-40">
                      <h2 class="section__title">Get in<span class="yellow-bg yellow-bg-big">touch<img src="assets/img/shape/yellow-bg.png" alt=""></span></h2>
                      <p>Have a question or just want to say hi? We'd love to hear from you.</p>
                   </div>
                   <div class="contact__form">
                      <form
                      action="https://formspree.io/f/meqwdewa"
                      method="POST">
                         <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-md-6">
                               <div class="contact__form-input">
                                  <input type="text" placeholder="Your Name" name="name">
                               </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6">
                               <div class="contact__form-input">
                                  <input type="email" placeholder="Your Email" name="email">
                               </div>
                            </div>
                            <div class="col-xxl-12">
                               <div class="contact__form-input">
                                  <input type="text" placeholder="Subject" name="subject">
                               </div>
                            </div>
                            <div class="col-xxl-12">
                               <div class="contact__form-input">
                                  <textarea placeholder="Enter Your Message" name="message"></textarea>
                               </div>
                            </div>
                            
                            <div class="col-xxl-12">
                               <div class="contact__btn">
                                  <button type="submit" class="e-btn">Send your message</button>
                               </div>
                            </div>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
             <div class="col-xxl-4 offset-xxl-1 col-xl-4 offset-xl-1 col-lg-5 offset-lg-1">
                <div class="contact__info white-bg p-relative z-index-1">
                   <div class="contact__shape">
                      <img class="contact-shape-1" src="assets/img/contact/contact-shape-1.png" alt="">
                      <img class="contact-shape-2" src="assets/img/contact/contact-shape-2.png" alt="">
                      <img class="contact-shape-3" src="assets/img/contact/contact-shape-3.png" alt="">
                   </div>
                   <div class="contact__info-inner white-bg">
                      <ul>
                         <li>
                           <img id="contactimgg" src="assets/img/contact/contactimg.png">
                         </li>
                      </ul>
                      
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- contact area end -->

   
 </main>
<%- include('partials/footer') -%>
