<%- include('partials/header') -%>
      <main>

         <!-- hero area start -->
         <section class="hero__area hero__height d-flex align-items-center grey-bg-2 p-relative">
            <div class="hero__shape">
               <img class="hero-1-circle" src="assets/img/shape/hero/hero-1-circle.png" alt="">
               <img class="hero-1-circle-2" src="assets/img/shape/hero/hero-1-circle-2.png" alt="">
               <img class="hero-1-dot-2" src="assets/img/shape/hero/hero-1-dot-2.png" alt="">
            </div>
            <div class="container">
               <div class="hero__content-wrapper mt-90">
                  <div class="row align-items-center">
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="hero__content p-relative z-index-1">
                           <h3 class="hero__title">
                              <span>Welcome To</span>
                              <span class="yellow-shape">TibNation! <img src="assets/img/shape/yellow-bg.png" alt="yellow-shape"> </span> </h3>
                              <p>An Open Source Initiative to help preserve the Tibetan language and culture. Sign up below to start learning Tibetan!</p>
                              <a href="/signup" class="e-btn">Sign up!</a>
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="hero__thumb d-flex p-relative">
                           <div class="hero__thumb-shape">
                              <img class="hero-1-dot" src="assets/img/shape/hero/hero-1-dot.png" alt="">
                              <img class="hero-1-circle-3" src="assets/img/shape/hero/hero-1-circle-3.png" alt="">
                              <img class="hero-1-circle-4" src="assets/img/shape/hero/hero-1-circle-4.png" alt="">
                              
                            </div>
                           <div class="hero__thumb-big mr-30">
                              <img src="assets/img/hero/tcv-hero.jpeg" alt="">
                              <div class="hero__quote hero__quote-animation">
                                 <span>Education is the foundation </span>
                                 <h4> upon which we build our future.</h4>
                              </div>
                           </div>
                           <div class="hero__thumb-sm mt-50 d-none d-lg-block">
                              <img src="assets/img/hero/mapOfTibet.png" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="banner__area pb-110">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                     <div class="banner__item p-relative mb-40" data-background="assets/img/banner/banner-bg-1.jpg">
                        <div class="banner__content">
                           <span>Free</span>
                           <h3 class="banner__title">
                              <a href="/login">Foundations of Tibetan <br> Language</a>
                           </h3>
                           <a href="/courseList" class="e-btn e-btn-2">View Courses</a>
                        </div>
                        <div class="banner__thumb d-none d-sm-block d-md-none d-lg-block">
                           <img src="assets/img/banner/ka.png" alt="">
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                     <div class="banner__item p-relative mb-40" data-background="assets/img/banner/banner-bg-2.jpg">
                        <div class="banner__content">
                           <span class="orange">new</span>
                           <h3 class="banner__title">
                              <a href="/news">Learn about <br>preserving culture</a>
                           </h3>
                           <a href="/news" class="e-btn e-btn-2">Find Out More</a>
                        </div>
                        <div class="banner__thumb banner__thumb-2 d-none d-sm-block d-md-none d-lg-block">
                           <img src="assets/img/ama-index.png" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- events area start -->
         <!-- <section class="events__area pt-115 pb-120 p-relative">
            <div class="events__shape">
               <img class="events-1-shape" src="assets/img/events/events-shape.png" alt="">
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xxl-4 offset-xxl-4">
                     <div class="section__title-wrapper mb-60 text-center">
                        <h2 class="section__title">Current <span class="yellow-bg yellow-bg-big">Events<img src="assets/img/shape/yellow-bg.png" alt=""></span></h2>
                        <p>We found 13 events available for you.</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                     <div class="events__item mb-10 hover__active">
                        <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
                           <div class="events__content">
                              <div class="events__meta">
                                 <span>Jun 14, 2022</span>
                                 <span>12:00 am - 2:30 pm</span>
                                 <span>New York</span>
                              </div>
                              <h3 class="events__title"><a href="event-details.html">Digital transformation conference</a></h3>
                           </div>
                           <div class="events__more">
                              <a href="event-details.html" class="link-btn">
                                 View More
                                 <i class="far fa-arrow-right"></i>
                                 <i class="far fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                     <div class="events__item mb-10 hover__active active">
                        <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
                           <div class="events__content">
                              <div class="events__meta">
                                 <span>April 10, 2022</span>
                                 <span>9:00 am - 5:00 pm</span>
                                 <span>Mindahan</span>
                              </div>
                              <h3 class="events__title"><a href="event-details.html">World education day conference</a></h3>
                           </div>
                           <div class="events__more">
                              <a href="event-details.html" class="link-btn">
                                 View More
                                 <i class="far fa-arrow-right"></i>
                                 <i class="far fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                     <div class="events__item mb-10 hover__active">
                        <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
                           <div class="events__content">
                              <div class="events__meta">
                                 <span>July 16, 2022</span>
                                 <span>10:30 am - 1:30 pm</span>
                                 <span>Weedpatch</span>
                              </div>
                              <h3 class="events__title"><a href="event-details.html">Foundations of global health</a></h3>
                           </div>
                           <div class="events__more">
                              <a href="event-details.html" class="link-btn">
                                 View More
                                 <i class="far fa-arrow-right"></i>
                                 <i class="far fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                     <div class="events__item mb-10 hover__active">
                        <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
                           <div class="events__content">
                              <div class="events__meta">
                                 <span>March 24, 2022</span>
                                 <span>10:30 am - 12:00 pm</span>
                                 <span>Lnland</span>
                              </div>
                              <h3 class="events__title"><a href="event-details.html">Business creativity workshops</a></h3>
                           </div>
                           <div class="events__more">
                              <a href="event-details.html" class="link-btn">
                                 View More
                                 <i class="far fa-arrow-right"></i>
                                 <i class="far fa-arrow-right"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section> -->
         <!-- events area end -->

         <!-- cta area start -->
         <section class="cta__area mb--120">
            <div class="container">
               <div class="cta__inner blue-bg fix">
                  <div class="cta__shape">
                     <img src="assets/img/cta/cta-shape.png" alt="">
                  </div>
                  <div class="row align-items-center">
                     <div class="col-xxl-7 col-xl-7 col-lg-8 col-md-8">
                        <div class="cta__content" id="sftpromo">
                           <img src="assets/img/sft.jpeg" id="sft">
                           <p class="cta__title">Students for a Free Tibet (SFT) works in solidarity with the Tibetan people in their struggle for freedom and independence. Get Involved Today! ✊</p>
                        </div>
                     </div>
                     <div class="col-xxl-5 col-xl-5 col-lg-4 col-md-4">
                        <div class="cta__more d-md-flex justify-content-end p-relative z-index-1">
                           <a href="https://studentsforafreetibet.org/get-involved/" target="_blank" class="e-btn e-btn-white">Find Out More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- cta area end -->

      </main>

      <%- include('partials/footer') -%>