<%- include('partials/header2') -%>
<main>

    <!-- page title area start -->
    <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="assets/img/page-title/savetibet.jpeg">
       <div class="container">
          <div class="row">
             <div class="col-xxl-12">
                <div class="page__title-wrapper mt-110">
                   <h3 class="page__title">News on Tibet</h3>                         
                   <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Home</a></li>
                         <li class="breadcrumb-item"><a href="/about">Contributers</a></li></ol>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- page title area end -->

    <!-- blog area start -->
    <section class="blog__area pt-120 pb-120">
       <div class="container">
          <div class="row">
             <div class="col-xxl-8 col-xl-8 col-lg-8">
                <div class="row">
                   <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="blog__wrapper">
                         <div class="blog__item white-bg mb-30 transition-3 fix">
                            <div class="blog__thumb w-img fix">
                               <a href="https://studentsforafreetibet.org/sfts-cross-movement-action-camp-is-coming-to-the-west-coast/">
                                  <img src="assets/img/blog/blog-1.jpg" alt="">
                               </a>
                            </div>
                            <div class="blog__content">
                               <div class="blog__tag">
                                  <a href="https://studentsforafreetibet.org/">Students For Free Tibet</a>
                               </div>
                               <h3 class="blog__title"><a target="_blank" href="https://studentsforafreetibet.org/sfts-cross-movement-action-camp-is-coming-to-the-west-coast/">SFT’S CROSS-MOVEMENT ACTION CAMP IS COMING TO THE WEST COAST!</a></h3>
    
                               <div class="blog__meta d-flex align-items-center justify-content-between">
                                  <div class="blog__author d-flex align-items-center">
                                     <div class="blog__author-thumb mr-10">
                                        <img src="assets/img/blog/author/author-1.jpg" alt="">
                                     </div>
                                     <div class="blog__author-info">
                                        <h5>SFT</h5>
                                     </div>
                                  </div>
                                  <div class="blog__date d-flex align-items-center">
                                     <i class="fal fa-clock"></i>
                                     <span>April 7, 2023</span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   
                   <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="blog__wrapper">
                         <div class="blog__item white-bg mb-30 transition-3 fix">
                            <div class="blog__thumb w-img fix">
                               <a target="_blank" href="https://studentsforafreetibet.org/open-letter-to-marc-casper-ceo-thermo-fisher-scientific/">
                                  <img src="assets/img/blog/blog-3.jpg" alt="">
                               </a>
                            </div>
                            <div class="blog__content">
                               <div class="blog__tag">
                                  <a href="https://studentsforafreetibet.org" target="_blank" class="pink">Students for Free Tibet</a>
                               </div>
                               <h3 class="blog__title"><a target="_blank" href="https://studentsforafreetibet.org/open-letter-to-marc-casper-ceo-thermo-fisher-scientific/">OPEN LETTER TO MARC CASPER, CEO, THERMO FISHER SCIENTIFIC</a></h3>
    
                               <div class="blog__meta d-flex align-items-center justify-content-between">
                                  <div class="blog__author d-flex align-items-center">
                                     <div class="blog__author-thumb mr-10">
                                        <img src="assets/img/blog/author/author-1.jpg" alt="">
                                     </div>
                                     <div class="blog__author-info">
                                        <h5>SFT</h5>
                                     </div>
                                  </div>
                                  <div class="blog__date d-flex align-items-center">
                                     <i class="fal fa-clock"></i>
                                     <span>February 28, 2023</span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="blog__wrapper">
                         <div class="blog__item white-bg mb-30 transition-3 fix">
                            <div class="blog__thumb w-img fix">
                               <a target="_blank" href="https://studentsforafreetibet.org/our-work/thermofisher-dont-help-china-steal-tibetan-dna/">
                                  <img src="assets/img/blog/blog-4.jpg" alt="">
                               </a>
                            </div>
                            <div class="blog__content">
                               <div class="blog__tag">
                                  <a href="https://studentsforafreetibet.org" class="green">Students for Free Tibet</a>
                               </div>
                               <h3 class="blog__title"><a target="_blank" href="https://studentsforafreetibet.org/our-work/thermofisher-dont-help-china-steal-tibetan-dna/">New Evidence of Mass DNA Collection in Tibet</a></h3>
    
                               <div class="blog__meta d-flex align-items-center justify-content-between">
                                  <div class="blog__author d-flex align-items-center">
                                     <div class="blog__author-thumb mr-10">
                                        <img src="assets/img/blog/author/author-1.jpg" alt="">
                                     </div>
                                     <div class="blog__author-info">
                                        <h5>SFT</h5>
                                     </div>
                                  </div>
                                  <div class="blog__date d-flex align-items-center">
                                     <i class="fal fa-clock"></i>
                                     <span>April 2, 2023</span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="blog__wrapper">
                         <div class="blog__item white-bg mb-30 transition-3 fix">
                            <div class="blog__thumb w-img fix">
                               <a target="_blank" href="https://www.phayul.com/2022/03/07/46869/">
                                  <img src="assets/img/blog/blog-2.jpg" alt="">
                               </a>
                            </div>
                            <div class="blog__content">
                               <div class="blog__tag">
                                  <a href="www.phayul.com" target="_blank" class="purple">Phayul</a>
                               </div>
                               <h3 class="blog__title"><a target="_blank" href="https://www.phayul.com/2022/03/07/46869/">Tibetans in exile mourn the death of self immolator Tsewang Norbu</a></h3>
    
                               <div class="blog__meta d-flex align-items-center justify-content-between">
                                  <div class="blog__author d-flex align-items-center">
                                     <div class="blog__author-thumb mr-10">
                                        <img src="assets/img/blog/author/author-2.jpg" alt="">
                                     </div>
                                     <div class="blog__author-info">
                                        <h5>Phayul</h5>
                                     </div>
                                  </div>
                                  <div class="blog__date d-flex align-items-center">
                                     <i class="fal fa-clock"></i>
                                     <span>March 2, 2022</span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="blog__wrapper">
                         <div class="blog__item white-bg mb-30 transition-3 fix">
                            <div class="blog__thumb w-img fix">
                               <a target="_blank" href="https://studentsforafreetibet.org/81-year-old-tibet-man-dies-after-self-immolation-protest-at-kirti-monastery/">
                                  <img src="assets/img/blog/blog-5.jpg" alt="">
                               </a>
                            </div>
                            <div class="blog__content">
                               <div class="blog__tag">
                                  <a target="_blank" href="https://studentsforafreetibet.org" class="orange">Students for Free Tibet</a>
                               </div>
                               <h3 class="blog__title"><a target="_blank" href="https://studentsforafreetibet.org/81-year-old-tibet-man-dies-after-self-immolation-protest-at-kirti-monastery/">81-YEAR-OLD TIBET MAN DIES AFTER SELF-IMMOLATION PROTEST AT KIRTI MONASTERY</a></h3>
    
                               <div class="blog__meta d-flex align-items-center justify-content-between">
                                  <div class="blog__author d-flex align-items-center">
                                     <div class="blog__author-thumb mr-10">
                                        <img src="assets/img/blog/author/author-1.jpg" alt="">
                                     </div>
                                     <div class="blog__author-info">
                                        <h5>SFT</h5>
                                     </div>
                                  </div>
                                  <div class="blog__date d-flex align-items-center">
                                     <i class="fal fa-clock"></i>
                                     <span>April 3, 2022</span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="blog__wrapper">
                         <div class="blog__item white-bg mb-30 transition-3 fix">
                            <div class="blog__thumb w-img fix">
                               <a target="_blank" href="https://studentsforafreetibet.org/protesters-disrupt-flame-lighting-for-beijing-winter-olympics/">
                                  <img src="assets/img/blog/blog-6.jpg" alt="">
                               </a>
                            </div>
                            <div class="blog__content">
                               <div class="blog__tag">
                                  <a href="https://studentsforafreetibet.org" target="_blank" class="blue">Students for Free Tibet</a>
                               </div>
                               <h3 class="blog__title"><a target="_blank" href="https://studentsforafreetibet.org/protesters-disrupt-flame-lighting-for-beijing-winter-olympics/">PROTESTERS DISRUPT FLAME-LIGHTING FOR BEIJING WINTER OLYMPICS</a></h3>
    
                               <div class="blog__meta d-flex align-items-center justify-content-between">
                                  <div class="blog__author d-flex align-items-center">
                                     <div class="blog__author-thumb mr-10">
                                        <img src="assets/img/blog/author/author-1.jpg" alt="">
                                     </div>
                                     <div class="blog__author-info">
                                        <h5>SFT</h5>
                                     </div>
                                  </div>
                                  <div class="blog__date d-flex align-items-center">
                                     <i class="fal fa-clock"></i>
                                     <span>October 18, 2021</span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                
             </div>
             <div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="blog__sidebar pl-70">
                   <div class="sidebar__widget mb-55">
                      <div class="sidebar__widget-head mb-35">
                         <h3 class="sidebar__widget-title">Recent posts</h3>
                      </div>
                      <div class="sidebar__widget-content">
                         <div class="rc__post-wrapper">
                            <div class="rc__post d-flex align-items-center">
                               <div class="rc__thumb mr-20">
                                  <a target="_blank" href="https://studentsforafreetibet.org/youth-for-tibet-europe-training-registration-is-open/"><img src="assets/img/blog/sm/blog-sm-1.jpg" alt=""></a>
                               </div>
                               <div class="rc__content">
                                  <div class="rc__meta">
                                     <span>March 15, 2023</span>
                                  </div>
                                  <h6 class="rc__title"><a target="_blank" href="https://studentsforafreetibet.org/youth-for-tibet-europe-training-registration-is-open/">YOUTH FOR TIBET: EUROPE TRAINING REGISTRATION IS OPEN!</a></h6>
                               </div>
                            </div>
                            
                            <div class="rc__post d-flex align-items-center">
                               <div class="rc__thumb mr-20">
                                  <a href="https://studentsforafreetibet.org/tsewang-n/" target="_blank"><img src="assets/img/blog/sm/blog-sm-3.jpg" alt=""></a>
                               </div>
                               <div class="rc__content">
                                  <div class="rc__meta">
                                     <span>February 26, 2023</span>
                                  </div>
                                  <h6 class="rc__title"><a target="_blank" href="https://studentsforafreetibet.org/tsewang-n/">ཨོཾ་མ་ཎི་པེད་མེ་ཧཱུཾ། TSEWANG NORBU</a></h6>
                               </div>
                            </div>
                            <div class="rc__post d-flex align-items-center">
                               <div class="rc__thumb mr-20">
                                  <a href="https://studentsforafreetibet.org/students-for-a-free-tibet-awarded-democracy-courage-tribute/" target="_blank"><img src="assets/img/blog/sm/blog-sm-2.jpg" alt=""></a>
                               </div>
                               <div class="rc__content">
                                  <div class="rc__meta">
                                     <span>July 8, 2021</span>
                                  </div>
                                  <h6 class="rc__title"><a href="https://studentsforafreetibet.org/students-for-a-free-tibet-awarded-democracy-courage-tribute/" target="_blank">STUDENTS FOR A FREE TIBET AWARDED DEMOCRACY COURAGE TRIBUTE</a></h6>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                  
                   
                   <div class="sidebar__widget mb-55">
                      <h3 class="sidebar__widget-title">TCV (Tibetan Children's Village)</h3>

                      <div class="sidebar__banner w-img">
                         <img src="assets/img/blog/banner/banner-1.jpg" alt="">
                         <figcaption>TCV is a non-profit organization that was founded in 1960 to provide education and support to Tibetan children in exile in India.</figcaption>
                      </div>
                   </div>
                  
                   
                   <div class="sidebar__widget mb-55">
                      <h3 class="sidebar__widget-title">CTA (Central Tibetan Administration)</h3>

                      <div class="sidebar__banner w-img">
                         <img src="assets/img/blog/cta-logo.png" alt="">
                         <figcaption>TCV is a non-profit organization that was founded in 1960 to provide education and support to Tibetan children in exile in India.</figcaption>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- blog area end -->

 </main>
<%- include('partials/footer') -%>
