<%- include('partials/headerProfile') -%>
<main>
 

    <!-- page title area start -->
    <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="public/assets/imgabout/accSettings.webp">
       <div class="container">
          <div class="row">
             <div class="col-xxl-12">
                <div class="page__title-wrapper mt-110">
                   <h5 class="page__title">Welcome, <%= user.userName%></h5>
                   <br><h5 class="page__title" >Points: <%= user.points%></h5>                         
                 
                   <br>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- page title area end -->
    <!-- COURSE LIST START -->
    <section class="course__area pt-120 pb-120">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="course__tab-conent">
                  <div class="tab-content" id="courseTabContent">
                     
                     <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <div class="row">
                           <div class="col-xxl-12">
                              <div class="course__item white-bg mb-30 fix">
                                 <div class="row gx-0">
                                    <div class="col-xxl-4 col-xl-4 col-lg-4">
                                       <div class="course__thumb course__thumb-list w-img p-relative fix">
                                          <a href="/courseDetails">
                                             <img src="public/assets/imgcourse/list/course-1.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="/courseDetails">Fundatmentals</a>
                                          </div>
                                       </div>
                                    </div>        
                                    <div class="col-xxl-8 col-xl-8 col-lg-8">
                                       <div class="course__right">
                                          <div class="course__content course__content-3">
                                             <div class="course__meta d-flex align-items-center">
                                                <div class="course__lesson mr-20">
                                                   <span><i class="far fa-book-alt"></i>1 out of 3 Lessons</span>
                                                </div>
                                             </div>
                                             <h3 class="course__title course__title-3">
                                                <a href="/courseDetails">Fundamentals</a>
                                             </h3>
                                             <div class="course__summary">
                                               <p>Learn the fundamentals of the Tibetan Language by studying the alphabet. Strengthen your knowledge with fun videos and games. Materials for off-line studying included as well as a final test to unlock the next level!</p>
                                             </div>
                                          </div>
                                          <div class="course__more course__more-2 d-flex justify-content-between align-items-center">
                                             <div class="course__status">
                                                <span>Free</span>
                                             </div>
                                             <div class="course__btn">
                                                <a href="/courseDetails" class="link-btn">
                                                   Start Now
                                                   <i class="far fa-arrow-right"></i>
                                                   <i class="far fa-arrow-right"></i>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>                                                           
                           <div class="col-xxl-12">
                              <div class="course__item white-bg mb-30 fix">
                                 <div class="row gx-0">
                                    <div class="col-xxl-4 col-xl-4 col-lg-4">
                                       <div class="course__thumb course__thumb-list w-img p-relative fix">
                                          <a href="/login">
                                             <img src="public/assets/imgcourse/list/course-2.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="/login" class="sky-blue">Vowels</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-xxl-8 col-xl-8 col-lg-8">
                                       <div class="course__right">
                                          <div class="course__content course__content-3">
                                             <div class="course__meta d-flex align-items-center">
                                                <div class="course__lesson mr-20">
                                                   <span><i class="far fa-book-alt"></i>2 out of 3 Lessons</span>
                                                </div>
                                               
                                             </div>
                                             <h3 class="course__title course__title-3">
                                                <a href="/login">Vowels</a>
                                             </h3>
                                             <div class="course__summary">
                                               <p>Learn about the small sounds that make a big difference! In Tibetan language, vowels are represented by symbols over the root consonant. Learn how each sound is expressed to learn all the variations.</p>    
                                            </div>
                                             
                                          </div>
                                          <div class="course__more course__more-2 d-flex justify-content-between align-items-center">
                                             <div class="course__status d-flex align-items-center">
                                                <span class="sky-blue">Free</span>
                                                <span class="old-price">$30.00</span>
                                             </div>
                                             <div class="course__btn">
                                                <a href="/profile" class="link-btn">
                                                   Locked
                                                   <i class="far fa-arrow-right"></i>
                                                   <i class="far fa-arrow-right"></i>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>                                                           
                           <div class="col-xxl-12">
                              <div class="course__item white-bg mb-30 fix">
                                 <div class="row gx-0">
                                    <div class="col-xxl-4 col-xl-4 col-lg-4">
                                       <div class="course__thumb course__thumb-list w-img p-relative fix">
                                          <a href="/login">
                                             <img src="public/assets/imgcourse/list/course-3.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="#" class="blue-2">Words</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-xxl-8 col-xl-8 col-lg-8">
                                       <div class="course__right">
                                          <div class="course__content course__content-3">
                                             <div class="course__meta d-flex align-items-center">
                                                <div class="course__lesson mr-20">
                                                   <span><i class="far fa-book-alt"></i>3 out of 3 Lessons</span>
                                                </div>
                                             </div>
                                             <h3 class="course__title course__title-3">
                                                <a href="/login">Common words</a>
                                             </h3>
                                             <div class="course__summary">
                                                <p>In this course we will be learning the basics of communication, words like: Mother, Dog, They, Yes, No etc. This will bring you one step closer in forming your very own sentences!</p>
                                               </div>
                                          </div>
                                          <div class="course__more course__more-2 d-flex justify-content-between align-items-center">
                                             <div class="course__status d-flex align-items-center">
                                                <span class="blue-2">Free</span>
                                                <span class="old-price">$46.00</span>
                                             </div>
                                             <div class="course__btn">
                                                <a href="/profile" class="link-btn">
                                                   Locked
                                                   <i class="far fa-arrow-right"></i>
                                                   <i class="far fa-arrow-right"></i>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>                                                           
                                                                                     
                        </div>
                     </div>
                   </div>
               </div>
            </div>
         </div>
         
      </div>
   </section>


<%- include('partials/footer') -%>