#loginMargin{
  margin-top: 150px  ;
}
#gameBody{
  padding-top:80px  ;
  word-wrap:break-word   ;
} 
img{
  height: 200px  ;
}
.footer__link{
  text-align: right   ;
}

.memory-game{
  margin: 0 0 0 0  ;
}
#gameBody {
  height: 100vh  ;
  display: flex  ;
  /* background: url('../images/marvelbackground.png'); */
  background-size: cover  ;
  background-repeat: no-repeat  ;
}

.memory-game {
  width: 640px  ;
  height: 640px  ;
  margin: auto  ;
  display: flex  ;
  flex-wrap: wrap  ;
  perspective: 1000px  ;
  margin-left: 0px  ;
}

.memory-card {
  width: calc(25% - 10px)  ;
  height: calc(33.333% - 10px)  ;
  margin: 5px  ;
  position: relative  ;
  transform: scale(1)  ;
  transform-style: preserve-3d  ;
  transition: transform .5s  ;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3)  ;
}

.memory-card:active {
  transform: scale(0.97)  ;
  transition: transform .2s  ;
}

.memory-card.flip {
  transform: rotateY(180deg)  ;
}

.front-face,
.back-face {
  width: 100%  ;
  height: 100%  ;
  padding: 20px  ;
  position: absolute  ;
  border-radius: 5px  ;
  background: #d9d9dc6b  ;
  backface-visibility: hidden  ;
}

.front-face {
  transform: rotateY(180deg)  ;
}
#resetGame{
 margin-top:700px  ;
}
#contactimgg{
  width: 50%;
}